VITE_GITHUB_USERNAME=
VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_TWITTER_URL=
VITE_INSTAGRAM_URL=
VITE_YOUTUBE_VIDEO_URL=
VITE_YOUTUBE_EMBED_URL=
VITE_WHATSAPP_NUMBER=
VITE_CONTACT_EMAIL=
VITE_GA_MEASUREMENT_ID=
